@import "../node_modules/ng-zorro-antd/ng-zorro-antd.min.css";
@import "../node_modules/ng-zorro-antd/style/index.min.css";


.first-color { 
	background: #00204a; 
}
	
.second-color { 
	background: #005792; 
}

.third-color { 
	background: #00bbf0; 
}

.fourth-color { 
	background: #fdb44b; 
}
